<nav class="col-md-12">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" [class.active]="(selectedTab | async) === 'nav-tab1-tab'" id="nav-tab1-tab" data-toggle="tab" href="#nav-tab1" role="tab" aria-controls="nav-tab1" aria-selected="true" (click)="onChangeTab('nav-tab1-tab')">Tab 1</a>
        <a class="nav-item nav-link" [class.active]="(selectedTab | async) === 'nav-tab2-tab'" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2" role="tab" aria-controls="nav-tab2" aria-selected="false" (click)="onChangeTab('nav-tab2-tab')">Tab 2</a>

        <a class="nav-item nav-link" [class.active]="(selectedTab | async) === 'nav-tab3-tab'" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2" role="tab" aria-controls="nav-tab2" aria-selected="false" (click)="onChangeTab('nav-tab3-tab')">Tab 3</a>
    </div>
</nav>
<div class="tab-content col-md-12" id="nav-tabContent">
    <div class="tab-pane fade" [ngClass]="(selectedTab | async) === 'nav-tab1-tab' ? ' show active' : ''" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab">
        <h5>
            Tab 1
        </h5>
    </div>
    <div class="tab-pane fade" [ngClass]="(selectedTab | async) === 'nav-tab2-tab' ? ' show active' : ''" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
        <h5>
            Tab 2
        </h5>
    </div>
    <div class="tab-pane fade" [ngClass]="(selectedTab | async) === 'nav-tab3-tab' ? ' show active' : ''" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
        <h5>
            Tab 3
        </h5>
    </div>

</div>